/* tag styles */
.navbar
{
        box-shadow: none;
}

.no-margin
{
    margin: 0;
}

.no-padding
{
    padding: 0;
}

body
{
    background-color: #F8F8F8;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    border-radius: 0;
}

/* class styles */
.form-group.is-focused label, .form-group.is-focused label.control-label {
    color: #03a9f4;
}

.navbar .navbar-form .form-group .form-control, .navbar .navbar-form .form-control {
    color: white;
}

.navbar .navbar-nav > li.open > .dropdown-menu {
    background-color: #03a9f4;
}

.dropdown-menu li > a {
    color: white !important;
}

.cover {
    margin-top: 2em;
    border-radius: 0;
    margin-top: -70px;
}

.carousel-custom {
    z-index: -1;
    border-radius: 0px;
    border-bottom: 4px solid #03a9f4;
}

.carousel-inner-custom {
    border-radius: 0;
    max-height: 85vh;
}

.home-button {
    width: 100%;
}

.home-buttons {
    margin-top: 2em;
    text-align: center;
}

.navigation-font
{
    font-size: 1em !important;
}

.logo
{
    height: 100%;
    display: inline !important;
    margin-right: 0.3em;
    filter: invert(1);
}
.padding-4
{
    padding: 4em !important;
}

.special-jumbo
{
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: transparent;
    box-shadow: none;
    padding-top: 0 !important;
}
.nav-pills
{
    white-space: nowrap;
    overflow-x: auto;
    margin-top: 1em;
    padding-bottom: 1.5em;
    text-align: center;
}

.nav-pills li
{
    display: inline-block;
    float: none;
}

.btn-warning
{
    color: black !important;
    border: 1px solid grey;
}

.btn-submit
{
    margin-top: 3em;
    margin-bottom: 1em;
    width: 100%;
}

.btn-upload
{
    padding: 0.7em;
    cursor: pointer;
    color: #03a9f4 !important;
    border: 0.2em solid #03a9f4;
}

.nav-tabs
{
    background: #03a9f4;
}

a, a:hover, a:focus
{
    color: #03a9f4;
}

.navbar-collapse
{
    max-height: none;
}

.form-control, .form-group .form-control
{
    color: grey;
    border: 0;
    background-image: linear-gradient(#03a9f4, #03a9f4), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent !important;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus
{
    color: grey;
    border: 0;
    background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#D2D2D2, #D2D2D2) !important;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent !important;
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
}

.sign-in
{
    background-color: #03a9f4 !important;
}

.navbar.navbar-info
{
    border-radius: 0;
    margin-bottom: 0;
    z-index: 1;
    background-color: white;
    color: black;
    border-bottom: 4px solid #03a9f4;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

.jumbotron
{
    margin: 1em;
}

.panel
{
  margin-top: 2em;
}

.panel-body
{
    padding: 2em;
}

.navbar.navbar-info .dropdown-menu li > a:hover, .navbar.navbar-info .dropdown-menu li > a:focus {
    background-color: deepskyblue;
    box-shadow: none;
}
/* id */
.carousel .carousel-control.left, .carousel .carousel-control.right
{
    z-index: -1;
}

.normal-row {
  margin-right: 0px;
  margin-left: 0px;
}

.test-bank {
  display: inline;
}

.upload-button {
  margin-top: 0;
  margin-left: 2em;
  top: -10px;
}

.upload-icon {
  margin-left: 0.5em;
}
