{% extends "base.html" %}

{% block title %}TBP Review Sheets{% endblock %}

{% block content %}

{% load extras %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
<h1>TBP Review Sheets</h1>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
      {% if user.is_staff %}
      <a href="/uploadreviewsheet">Upload review sheet</a>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr class="table-head">
	    <th>Subject</th>
            <th>File</th>
            {% if user.is_staff %}
            <th>Edit Link</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for subject, sheets in reviewsheetlist %}
            <tr class="table-head active">
             
              <th colspan="5">{{ subject }}</th>
             
            </tr>

            {% for sheet in sheets %}
              <tr>
                <td>{{ sheet.course }}</td>
                <td>
                  <a target="_blank" href="/reviewsheets/file/{{ sheet.id }}/{{ sheet.reviewsheet.name }}">Download</a>
                </td>
                {% if user.is_staff %}
                <td>
                  <a href="/admin/main/reviewsheet/{{ sheet.id }}/">Edit</a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}

          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
