{% extends "profile_base.html" %}

{% block title %}Upload Review Sheet{% endblock %}
{% block content %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
    <form class="form-horizontal" method="post" enctype="multipart/form-data">  
     <!-- {{term_form.management_form}}  
     {{class_form.management_form}} --> 
      {% csrf_token %}
    <fieldset>
      <div class="form-group">
	<div class="col-lg-8 col-lg-offset-4">
	  <p class="form-control-static">Upload a review sheet </p>
	</div>
     </div>
      {% include "form_snippet.html" with form=reviewsheetform %}      
      <!-- {% include "form_snippet.html" with form=term_form %}
      {% include "form_snippet.html" with form=class_form %}
     -->
      
      <div class="form-actions">
	<button type="submit" class="btn btn-warning btn-lg btn-submit">Submit</button>
      </div>
    </fieldset>
    </form>
    </div>
  </div>
</div>

{% endblock %}

