{% extends "base.html" %}

{% block title %}Tau Beta Pi at UCLA{% endblock %}

{% block content %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>About Us</h1>

      <p>Tau Beta Pi is the only engineering honor society representing the entire engineering profession. It is the nation's second-oldest honor society, founded at Lehigh University in 1885 to mark in a fitting manner those who have conferred honor upon their Alma Mater by distinguished scholarship and exemplary character as students in engineering, or by their attainments as alumni in the field of engineering, and to foster a spirit of liberal culture in engineering colleges.

      <h4>Joining Tau Beta Pi</h4>

      <p>Being part of Tau Beta Pi - California Epsilon requires you to be in the top 1/5 of engineering seniors and top 1/8 of engineering juniors at the University of California Los Angeles (UCLA). This honor is recognized across the country in both academic and professional institutions.

      <h4>Scholarships and Fellowships</h4>

      <p>Tau Beta Pi offers many merit-based awards for members including a $10,000 graduate fellowship and a $2,000 senior-year scholarship to encourage technical excellence in engineering.

      <h4>Engineering Community</h4>

      <p>Tau Beta Pi is the only organization on campus that is privileged to have a distinguished community of scholars from multiple engineering disciplines. We focus our community by putting members in touch with high-profile members of the industry who are interested in intelligent students with a technical background. It is a great way to meet and network with high-caliber and high-profile people.

      <h4>Contact Us</h4>

      <p>Like us here on <a href="https://www.facebook.com/tbp.ucla">Facebook</a> to stay informed on all the club activities!

      <p>For any questions, comments, or concerns, please contact us at
      <a href="mailto:ucla.tbp@gmail.com">ucla.tbp@gmail.com</a>.
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Awards</h1>

      <p>The UCLA Ca-Epsilon Chapter of Tau Beta Pi has been recognized for many awards throughout the years from the national level. Here is a list of all the awards and the years they were awarded.

      <h4>Secretary's Commendation</h4>
      <ul>
        <li>1998-1999</li>
        <li>2005-2006</li>
        <li>2006-2007</li>
        <li>2007-2008</li>
        <li>2008-2009</li>
      </ul>

      <h4>Chapter Projects Award</h4>
      <ul>
        <li>1977-1978</li>
        <li>1978-1979</li>
        <li>1979-1980</li>
        <li>1980-1981</li>
        <li>1981-1982</li>
        <li>1982-1983</li>
        <li>1983-1984</li>
        <li>1984-1985</li>
        <li>1985-1986</li>
        <li>1986-1987</li>
        <li>1995-1996</li>
        <li>2009-2010</li>
        <li>2010-2011</li>
        <li>2011-2012</li>
        <li>2012-2013</li>
        <li>2013-2014</li>
        <li>2014-2015</li>
        <li>2018-2019</li>
        <li>2019-2020</li>
      </ul>

      <h4>RC Matthews Outstanding Chapter Award (Honorable Mention)</h4>
      <ul>
        <li>1981-1982</li>
      </ul>

      <h4>McDonald Mentoring Award</h4>
      <ul>
        <li>2011 (Bill Goodin)</li>
      </ul>

      <h4>MindSET Project Grant</h4>
      <ul>
        <li>2012-2013</li>
        <li>2013-2014</li>
        <li>2014-2015</li>
      </ul>

      <h4>Membership</h4>
      <ul>
        <li>2010-2011</li>
        <li>2013-2014</li>
      </ul>
    </div>
  </div>
</div>
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1>Partnership Spotlight</h1>
        <!-- <img src="..."> --> <!--Sponsor Logo Collage -->
        <p>While Tau Beta Pi is committed to promoting the growth of future engineers, our programs could not come to fruition without the support of our partners. These sponsors provide us with the means to continue hosting great programs like the Rube Goldberg Competition [link] and <a href="{% url 'web.views.emcc' %}">EMCC</a> year after year.</p>
        <p>If you or someone you know is interested in partnering with Tau Beta Pi at UCLA, please contact our Corporate Relations team at <a href="mailto:corporate@tbp.seas.ucla.edu">corporate@tbp.seas.ucla.edu</a>. </p>

    </div>
  </div>
</div>
{% endblock %}
