{% extends "profile_base.html" %}

{% block content %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Please enter a new password.</p>
      <form class="form-horizontal col-lg-6" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>  
          {% include "form_snippet.html" %}
          <div class="form-actions">
            <button type="submit" class="btn btn-warning">Set New Password</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}