{% extends "profile_base.html" %}

{% block content %}

<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Please enter a username or email. If it is associated with a valid account, we will send you a password reset email. If you cannot remember your username or email (or if you have any other issues resetting your password), contact the webmasters at <a href="mailto:webmaster@tbp.seas.ucla.edu">webmaster@tbp.seas.ucla.edu</a>.</p>
      <form class="form-horizontal col-lg-6" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>  
          {% include "form_snippet.html" %}
          <div class="form-actions">
            <button type="submit" class="btn btn-warning">Send Password Reset Email</button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

{% endblock %}