{% extends "base.html" %}

{% block title %}TBP Tutoring Schedule{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body" style="padding: 2em;">
      <script src="/static/js/application.js" type="text/javascript"></script>
      <script src="/static/js/tutor.js" type="text/javascript"></script>
      <style></style>
      <h1>TBP {{ term }} Tutoring Schedule</h1>
      <p>Direct any questions or concerns to TBP's tutoring chairs at <a
          href="mailto:tutoring@tbp.seas.ucla.edu">tutoring@tbp.seas.ucla.edu</a>. The schedule is subject to change.

        <p>Location:<br />
          Boelter 6266 <br />
          Fall 2020: Tutors will be available at this Zoom link during the listed times:
          <a href="https://ucla.zoom.us/j/94832359444">Zoom Tutoring Link</a>
        </p>

        <p>
          <b>Looking for a specific class?</b> <br />
          Click on a department and class on the left departments bar, and available
          tutors for that class will be highlighted in blue.
        </p>

        <p>Hours:<br />
          Monday through Friday<br />
          10AM - 4PM PST<br />
          Weeks 3 through 9
    </div>
    {% if display_current_tutors %}
    <!-- <div class="row normal-row">
      <div>
        Current Tutors: {{ current_tutors_string }}
      </div>
      <div>
        <h4>Classes Covered:</h2>
          <ul>
            {% for department, classes_string in department_classes %}
            <li>{{ department }} - {{classes_string}}</li>
            {% endfor %}
          </ul>
      </div>
    </div>
    {% endif %} -->

    {% include schedule_block %}
  </div>
</div>
</div>
{% endblock %}