{% extends "base.html" %}

{% block title %}TBP Tutoring Schedule{% endblock %}

{% block content %}
<div class="panel-group">
  <div class="panel panel-default">
    <div class="panel-body" style="padding: 2em;">
      <script src="/static/js/application.js" type="text/javascript"></script>
      <script src="/static/js/tutor.js" type="text/javascript"></script>
      <style></style>
      <h1>TBP {{ term }} Tutoring Schedule</h1>
      <p>Direct any questions or concerns to TBP's tutoring chairs at <a
          href="mailto:uclatbp.tutoring@gmail.com">uclatbp.tutoring@gmail.com</a>. The schedule is subject to change.

        <p><b>Location:</b><br />
          Boelter 6266S <br />
          * Tutors will only be available <b>in person</b> this quarter.<br />
        </p>

        <p><b>Hours:</b><br />
          Monday through Friday<br />
          10AM - 4PM PST<br />
          Weeks 3 through 9<br/>
        </p>

        <!-- <p>
          <b>Looking for a specific class?</b> <br />
          Click on a department and class on the left departments bar, and available
          tutors for that class will be highlighted in blue.
        </p> -->
        

        <!--

          IF TUTORING SCHEDULE IS BROKEN, USE THIS: -->

        <h5>
          Our website is under maintenance and our usual tutoring schedule will be back soon. For now, see the spreadsheet below: <br />
        </h5>

        <iframe style="height: 45vw; width: 85vw;" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vS1t7sicz06eDB5nHFQy2j7dtVTGrmFI_7pPRwrnxB6ugv8v2LT7SMuuNMf4SLvuSPUHAeupEXVUD8W/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
        <br/><br/> 
      
        
    </div>
    {% if display_current_tutors %}
    <!-- <div class="row normal-row">
      <div>
        Current Tutors: {{ current_tutors_string }}
      </div>
      <div>
        <h4>Classes Covered:</h2>
          <ul>
            {% for department, classes_string in department_classes %}
            <li>{{ department }} - {{classes_string}}</li>
            {% endfor %}
          </ul>
      </div>
    </div> -->
    {% endif %} 

    {% include schedule_block %}
  </div>
</div>
</div>
{% endblock %}