{% extends "base.html" %}

{% block title %}TBP Test Bank{% endblock %}

{% block content %}

{% load extras %}

<div class="panel-group">
<div class="panel panel-default">
<div class="panel-body">
<h1 class="test-bank">TBP Test Bank</h1>
 <a align="left" href="/upload" class="btn btn-large btn-warning upload-button">Upload <i class="fa fa-upload upload-icon"></i></a>
<div class="row" style="margin-bottom: 10px">
  <div class="col-md-12">
      <div class="panel-group">
      <div class="panel panel-default">
      <div class="panel-body">
      <form action="/testbank/" method="post">
          {% csrf_token %}
          <label for="search_params">Filter by key words. Can search with any combination of professor, class name, test type (M1, M2, F), quarter, and year: </label>
          <input class="form-control" id="search_params" type="text" name="search_params" placeholder="eg: CHEM 20A Scerri" value="{{ search_params }}">
          <input type="submit" value="Search" class="btn">
      </form>
      </div>
      </div>
      </div>
      <table class="table table-striped">
        <thead>
          <tr class="table-head">
            <th>Professor</th>
            <th>Type</th>
            <th>Term</th>
            <th>File</th>
            {% if user.is_staff %}
            <th>Edit Link</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for course, tests in class_tests %}
            <tr class="table-head active">
              {% if user.is_staff %}
              <th colspan="5">{{ course }}</th>
              {% else %}
              <th colspan="4">{{ course }}</th>
              {% endif %}
            </tr>

            {% for test in tests %}
              <tr>
                <td>{{ test.professor }}</td>
		<td>{{ test.test_type }}</td> 
                <td>{{ test.origin_term }}</td>
                <td>
                  <a target="_blank" href="/testbank/file/{{ test.id }}/{{ test.test_upload.name }}">Download</a>
                </td>
                {% if user.is_staff %}
                <td>
                  <a href="/admin/main/test_upload/{{ test.id }}/">Edit</a>
                </td>
                {% endif %}
              </tr>
            {% endfor %}

          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
</div>
</div>
</div>
{% endblock %}
